.app {
  padding: 1rem 3rem 20vh 3rem;
  color: white;
  text-align: center;
}

#grid {
  display: grid;
  grid-auto-flow: rows dense;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.5rem;
}

@media screen and (max-width: 760px) {
  #grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.title {
  text-align: center;
  color: #b5e8e0;
}

.item-card {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  font-size: small;
}

img {
  width: auto;
}

.item-name {
  font-size: large;
  color: #f2cdcd;
}

.item-size {
  color: #c9cbff;
}

.item-sha {
  color: #ddb6f2;
}
